#playerListBox,
.hizliMesajArea {
    z-index: 201;
    position: absolute;
    opacity: 0.9;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 6px;
    display: none;
    width: 455px;

}

#playerListBox {
    top: 10px;
    left: 10px !important;
}

a.tabMenuName {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 2px 12px;
    border-radius: 4px 4px 0px 0px;
    background-color: rgb(255, 255, 255)
}

.actD {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 11px
}


.activeDiv {
    right: 70px
}

.divContentDiv p {
    margin: 0px
}

.divContentDiv {
    position: relative;
    display: block;
    background: none;
    border: 1px solid #E8856B;
    padding: 4px 10px;
    margin-top: 10px
}

.textAreaDiv {
    display: block;
    border: none;
    padding: 8px 8px 8px 8px;
    height: 340px;
    width: 450px;
    background: #fff;
    position: absolute;
    z-index: -1;
}

a#close {
    position: absolute;
    top: -2px;
    right: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0px;
    border-radius: 4px 4px 0px 0px;
    font-size: 20px;
    background-color: transparent;
}

#playerLoop {
    z-index: 201;
    position: absolute;
    top: 10px;
    left: 460px;
    opacity: 0.9;
    background-color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 6px
}

.hizliMesajArea {
    right: 0px;
    text-align: left;
    width: auto;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 13px;
    top: 300px;
}

a.tabMenuName {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}